<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <link rel="stylesheet" href="./../style/style.css">

    <title>Mendix Explorer</title>
  </head>
  <body>
    <div id="main-app"></div>

    <script src="./../components/jquery-3.6.0.min.js"></script>
    <script src="./../js/renderer.js"></script>

    <script src="./../components/react.development.js"></script>
    <script src="./../components/react-dom.development.js"></script>

    <!--React components-->
    <script src="./../js/react/MainApp.js"></script>
    <script src="./../js/react/MendixSelectorBanner.js"></script>
  </body>
</html>